//font variable
$font-base: "Cabin", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-manrope: "Manrope", sans-serif;
//color variable
$color-body-bg: #f8f8f8;
$color-white: #fff;
$color-black:#000;
$color-body: #878787;
$color-blue: #5867b0;
$color-blue-dark: #4657a7;
$color-light-blue: #41c2ce;
$color-grey: #dedede;
$color-grey-light: #b1a9a5;
$color-grey-dark: #5a5a5a;
$color-light: #d8d6d6;
$color-link: #85a5c2;
$color-danger: #ee336d;
$color-purple: #a14b9c;
$color-success: #15b471;
$color-warning: #fdd252;
$color-input: #c4c4c4;

//font variable
$base-size: 1rem;
//font weight
$wt400: 400;
$wt500: 500;
$wt600: 600;
$wt700: 700;
